@use '../../../tokens' as style;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.glassmorphismSimpleContainer {
  background: radial-gradient(rgba(0, 0, 0, .2) 50%, rgba(98, 56, 56, 0.274) 100%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(145, 115, 115, 0.2);
  transition: all .5s ease-in-out;
  width: 100%;
  height: 100%;
}

.neonBorder:hover {
  box-shadow: style.$neon-border-lit;
}

